body {
	background-image: url(background.jpg);
	background-size: cover;
}
.container {
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 0;
}

.card {
	width: 47%;
	margin: 10px 1.5%;
	background-color: rgba(255, 255, 255, 0.8);
}

form {
	width: 100%;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

#name, #text {
	background-color: rgba(255, 255, 255, 0.7);
}

/*clearfix*/
.group:before,
.group:after {
	content: " ";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	*zoom: 1;
}

.jumbotron {
  background-color: rgba(233, 236, 239, 0.8);
  padding-bottom: 3%;
}

.btn-outline-primary {
	padding: 3px 25px;
}

.buttons {
  margin-left: 9%;
}

.delete {
	margin-right: 10%;
}

.badge {
	margin-left: 2%;
}

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fade-text {
  position: relative;
	height: 4.5em;  /* exactly three lines  */
	overflow:hidden;
}

.fade-text:after {
  content: "	";
  text-align: right;
	position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(232, 241, 250, 0.8) 80%);
}

.feed-name {
  margin-bottom: 5%;
}

.deleteBtn {
  border: none;
}

.comment-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-line  {
  margin: 5px 0;
}

.comment-card, .card-form {
  margin: 10px 0;
}

@media (max-width: 992px) {
  .card {
    width: 100%;
  }
  .card-form {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .comment-card {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .card-form {
    width: 100%;
  }
  .comment-card {
    width: 100%;
  }
  .feed-name {
    font-size: 2.0rem;
  }
}

@media (min-width: 576px) {
  .likes {
    text-align: right;
    margin-right: 10%;
  }

  .smallLine {
    display:none;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 2% 6% 2% 5%;
  }
  .feed-name {
    font-size: 1.5rem;
  }
  .lead {
    font-size: 1rem;
  }
  .likes, .buttons {
    text-align: center;
  }
  .buttons {
    margin: 0;
  }
  .comment-heading {
    font-size: 1.5rem;
  }
}

/* special style for firefox */
@-moz-document url-prefix() { 
  label {
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 3%;
  }
}

/* special style for Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  textarea {
    margin-bottom:32px;
  }
}

/* spinner */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;  
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #007bff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner {
  height: 217px;
  padding-top: 35px;
}